# Copyright (c) 2020, Chuck <fanck0605@qq.com>
#
# 收集了一些 openwrt 常用内核模块对应的内核配置项
# 末尾没加 =m/y 的, 默认应该为 =m
#
# 警告:
# 对着屏幕的哥们, 允许你使用本文件, 但不允许你抹去作者的信息, 请保留这段话.
# 这是我花一下午的时间整理的, 请尊重劳动成果!
#

# scsi-core
CONFIG_SCSI
CONFIG_BLK_DEV_SD

# crypto-aead
CONFIG_CRYPTO_AEAD
CONFIG_CRYPTO_AEAD2

# crypto-arc4
CONFIG_CRYPTO_ARC4

# crypto-authenc
CONFIG_CRYPTO_AUTHENC

# crypto-crc32
CONFIG_CRYPTO_CRC32

# crypto-crc32c
CONFIG_CRYPTO_CRC32C

# crypto-ecb
CONFIG_CRYPTO_ECB

# crypto-hash
CONFIG_CRYPTO_HASH

# crypto-manager
CONFIG_CRYPTO_MANAGER
CONFIG_CRYPTO_MANAGER2

# crypto-null
CONFIG_CRYPTO_NULL

# crypto-pcompress
CONFIG_CRYPTO_PCOMP=y
CONFIG_CRYPTO_PCOMP2

# crypto-sha1
CONFIG_CRYPTO_SHA1
CONFIG_CRYPTO_SHA1_ARM
CONFIG_CRYPTO_SHA1_ARM_NEON
CONFIG_CRYPTO_SHA1_OCTEON
CONFIG_CRYPTO_SHA1_SSSE3

# crypto-user
CONFIG_CRYPTO_USER
CONFIG_CRYPTO_USER_API
CONFIG_CRYPTO_USER_API_AEAD
CONFIG_CRYPTO_USER_API_HASH
CONFIG_CRYPTO_USER_API_RNG
CONFIG_CRYPTO_USER_API_SKCIPHER

# cryptodev

# fs-ext4
CONFIG_EXT4_FS
CONFIG_JBD2

# fs-f2fs
CONFIG_F2FS_FS
CONFIG_F2FS_STAT_FS=y
CONFIG_F2FS_FS_XATTR=y

# fs-vfat
CONFIG_FAT_FS
CONFIG_VFAT_FS

# lib-crc-ccitt
CONFIG_CRC_CCITT

# lib-crc16
CONFIG_CRC16

# lib-textsearch
CONFIG_TEXTSEARCH=y
CONFIG_TEXTSEARCH_KMP
CONFIG_TEXTSEARCH_BM
CONFIG_TEXTSEARCH_FSM

# nls-base
CONFIG_NLS

# nls-cp437
CONFIG_NLS_CODEPAGE_437

# nls-iso8859-1
CONFIG_NLS_ISO8859_1

# nls-utf8
CONFIG_NLS_UTF8

# br-netfilter
CONFIG_BRIDGE_NETFILTER

# ip6tables
CONFIG_IP6_NF_FILTER
CONFIG_IP6_NF_MANGLE
CONFIG_IP6_NF_QUEUE
CONFIG_NF_LOG_IPV6
CONFIG_IP6_NF_IPTABLES
CONFIG_IP6_NF_TARGET_LOG
CONFIG_IP6_NF_TARGET_REJECT

# ipt-conntrack
CONFIG_NETFILTER_XT_MATCH_STATE
CONFIG_NETFILTER_XT_TARGET_CT
CONFIG_NETFILTER_XT_MATCH_CONNTRACK

# ipt-core
CONFIG_NETFILTER_XTABLES
CONFIG_IP_NF_FILTER
CONFIG_IP_NF_MANGLE
CONFIG_IP_NF_IPTABLES
CONFIG_NETFILTER_XT_MATCH_LIMIT
CONFIG_NETFILTER_XT_MATCH_MAC
CONFIG_NETFILTER_XT_MATCH_MULTIPORT
CONFIG_NETFILTER_XT_MATCH_COMMENT
CONFIG_NETFILTER_XT_MATCH_CLUSTER
CONFIG_NETFILTER_XT_TARGET_LOG
CONFIG_NETFILTER_XT_TARGET_TCPMSS
CONFIG_IP_NF_TARGET_REJECT
CONFIG_NETFILTER_XT_MATCH_TIME
CONFIG_NETFILTER_XT_MARK

# ipt-fullconenat
CONFIG_NF_CONNTRACK_EVENTS=y
CONFIG_NF_CONNTRACK_CHAIN_EVENTS=y
CONFIG_IP_NF_TARGET_FULLCONENAT

# ipt-ipset
CONFIG_IP_SET
CONFIG_IP_SET_MAX=256
CONFIG_NETFILTER_XT_SET
CONFIG_IP_SET_BITMAP_IP
CONFIG_IP_SET_BITMAP_IPMAC
CONFIG_IP_SET_BITMAP_PORT
CONFIG_IP_SET_HASH_IP
CONFIG_IP_SET_HASH_IPMAC
CONFIG_IP_SET_HASH_IPMARK
CONFIG_IP_SET_HASH_IPPORT
CONFIG_IP_SET_HASH_IPPORTIP
CONFIG_IP_SET_HASH_IPPORTNET
CONFIG_IP_SET_HASH_MAC
CONFIG_IP_SET_HASH_NET
CONFIG_IP_SET_HASH_NETNET
CONFIG_IP_SET_HASH_NETIFACE
CONFIG_IP_SET_HASH_NETPORT
CONFIG_IP_SET_HASH_NETPORTNET
CONFIG_IP_SET_LIST_SET

# ipt-nat
CONFIG_NETFILTER_XT_NAT
CONFIG_IP_NF_NAT
CONFIG_NF_NAT
CONFIG_IP_NF_TARGET_MASQUERADE
CONFIG_IP_NF_TARGET_REDIRECT

# ipt-nat6
CONFIG_IP6_NF_NAT
CONFIG_IP6_NF_TARGET_MASQUERADE
CONFIG_IP6_NF_TARGET_NPT

# ipt-offload
CONFIG_NETFILTER_XT_TARGET_FLOWOFFLOAD

# ipt-raw
CONFIG_IP_NF_RAW

# ipt-tproxy
CONFIG_NETFILTER_XT_MATCH_SOCKET
CONFIG_NF_SOCKET_IPV4
CONFIG_NF_SOCKET_IPV6
CONFIG_NETFILTER_XT_TARGET_TPROXY
CONFIG_NF_TPROXY_IPV4
CONFIG_NF_TPROXY_IPV6

# nf-conntrack
CONFIG_NETFILTER=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NF_CONNTRACK_MARK=y
CONFIG_NF_CONNTRACK_ZONES=y
CONFIG_NF_CONNTRACK
CONFIG_NF_CONNTRACK_RTCACHE
CONFIG_NF_DEFRAG_IPV4
CONFIG_NF_CONNTRACK_IPV4

# nf-conntrack6
CONFIG_NF_DEFRAG_IPV6
CONFIG_NF_CONNTRACK_IPV6

# nf-flow
CONFIG_NETFILTER_INGRESS=y
CONFIG_NF_FLOW_TABLE
CONFIG_NF_FLOW_TABLE_HW

# nf-ipt
CONFIG_IP_NF_IPTABLES
CONFIG_NETFILTER_XTABLES

# nf-ipt6
CONFIG_IP6_NF_IPTABLES

# nf-nat
CONFIG_NF_NAT
CONFIG_NF_NAT_REDIRECT
CONFIG_NF_NAT_IPV4
CONFIG_NF_NAT_MASQUERADE_IPV4

# nf-nat6
CONFIG_NF_NAT_IPV6
CONFIG_NF_NAT_MASQUERADE_IPV6

# nf-nathelper
CONFIG_NF_CONNTRACK_FTP
CONFIG_NF_NAT_FTP

# nf-nathelper-extra
CONFIG_NF_CONNTRACK_BROADCAST
CONFIG_NF_CONNTRACK_AMANDA
CONFIG_NF_NAT_AMANDA
CONFIG_NF_CT_PROTO_GRE
CONFIG_NF_NAT_PROTO_GRE
CONFIG_NF_CONNTRACK_H323
CONFIG_NF_NAT_H323
CONFIG_NF_CONNTRACK_PPTP
CONFIG_NF_NAT_PPTP
CONFIG_NF_CONNTRACK_SIP
CONFIG_NF_NAT_SIP
CONFIG_NF_CONNTRACK_SNMP
CONFIG_NF_NAT_SNMP_BASIC
CONFIG_NF_CONNTRACK_TFTP
CONFIG_NF_NAT_TFTP
CONFIG_NF_CONNTRACK_IRC
CONFIG_NF_NAT_IRC

# nf-reject
CONFIG_NETFILTER=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NF_REJECT_IPV4

# nf-reject6
CONFIG_NETFILTER=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NF_REJECT_IPV6

# nfnetlink
CONFIG_NETFILTER_NETLINK

# macvlan
CONFIG_MACVLAN

# iptunnel
CONFIG_NET_IP_TUNNEL

# iptunnel4
CONFIG_INET_TUNNEL
CONFIG_NET_IPIP=m

# ppp
CONFIG_PPP
CONFIG_PPP_ASYNC

# mppe
CONFIG_PPP_MPPE_MPPC
CONFIG_PPP_MPPE

# pppoe
CONFIG_PPPOE

# pppox
CONFIG_PPPOE

# sit
CONFIG_IPV6_SIT
CONFIG_IPV6_SIT_6RD=y

# slhc
CONFIG_SLHC

# tcp-bbr
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR=m

# tun
CONFIG_TUN

# usb-core
CONFIG_USB

# usb-ehci
CONFIG_USB_EHCI_HCD

# usb-ohci
CONFIG_USB_OHCI
CONFIG_USB_OHCI_HCD
CONFIG_USB_OHCI_ATH79=y
CONFIG_USB_OHCI_HCD_AT91=y
CONFIG_USB_OHCI_BCM63XX=y
CONFIG_USB_OCTEON_OHCI=y
CONFIG_USB_OHCI_HCD_OMAP3=y
CONFIG_USB_OHCI_HCD_PLATFORM=y

# usb-ohci-pci
CONFIG_USB_PCI=y
CONFIG_USB_OHCI_HCD_PCI

# usb-storage
CONFIG_USB_STORAGE

# usb-storage-extras
CONFIG_USB_STORAGE_ALAUDA
CONFIG_USB_STORAGE_CYPRESS_ATACB
CONFIG_USB_STORAGE_DATAFAB
CONFIG_USB_STORAGE_FREECOM
CONFIG_USB_STORAGE_ISD200
CONFIG_USB_STORAGE_JUMPSHOT
CONFIG_USB_STORAGE_KARMA
CONFIG_USB_STORAGE_SDDR09
CONFIG_USB_STORAGE_SDDR55
CONFIG_USB_STORAGE_USBAT

# usb-storage-uas
CONFIG_USB_UAS

# usb-uhci
CONFIG_USB_PCI=y
CONFIG_USB_UHCI_ALT
CONFIG_USB_UHCI_HCD

# usb2
CONFIG_USB_EHCI_HCD_PLATFORM
CONFIG_USB_EHCI_BCM63XX=y
CONFIG_USB_IMX21_HCD=y
CONFIG_USB_EHCI_MXC=y
CONFIG_USB_OCTEON_EHCI=y
CONFIG_USB_EHCI_HCD_ORION=y
CONFIG_USB_EHCI_HCD_AT91=y
CONFIG_USB_EHCI_FSL

# usb2-pci
CONFIG_USB_PCI=y
CONFIG_USB_EHCI_PCI

# usb3
CONFIG_USB_PCI=y
CONFIG_USB_XHCI_HCD
CONFIG_USB_XHCI_PCI
CONFIG_USB_XHCI_PLATFORM
CONFIG_USB_XHCI_MTK

